<div id="div-tbl-solicitud_rendiciongasto" class="table-responsive" style="width:100%;">
        <table id="jqGrid3" class="table-gys-kom"></table>
        <div id="jqControls3">
        </div>
</div>
<script>
    $(function () {
        //paginadorendicion();
       
        
    })
    

</script>