<div>
    @Html.DropDownList("ListaSucursal",
                       new SelectList(ViewBag.ListaSucursales, "IdSucursal", "Nombre"),
                       new { @id = "dllSucursal_pv",
                           @class = "form-control select2" }
                      )
</div>
<script>
    $(function () {
        @{int count = new SelectList(ViewBag.ListaSucursales).Count();}
        __countSucursalDisponibles = @count;
        $('select[name="ListaSucursal"]').select2({
            dropdownAutoWidth: true,
            width: '100%'
        });

       

        $("#dllSucursal_pv").val(idUserSucursal_pv)
        $("#dllSucursal_pv").trigger('change')
       
    })
</script>