
<div>
    @Html.DropDownList("dllCentroCostoAfectoCodigoSapR",
                       new SelectList(ViewBag.ListaCentrosCostos, "Codigo", "Descripcion"),
                       new { @id = "dllCentroCostoAfectoCodigoSapR",
                           @class = "form-control select2" }
                      )
</div>

<script>
    $(function () {
        @{int count = new SelectList(ViewBag.ListaCentrosCostos).Count();}
        __countCentrosCostosDisponibles = @count;
        $('select[name="dllCentroCostoAfectoCodigoSapR"]').select2({
            dropdownAutoWidth: true,
            width: '100%'
        });
        $("#dllCentroCostoAfectoCodigoSapR").val(idUserCentroCostoSolicitudR)
        $("#dllCentroCostoAfectoCodigoSapR").trigger('change');

       
        
    })
</script>