<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="bdTaxi" connectionString="server=DESKTOP-8NCD25J;database=BD_POSTPRD_TAXI;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="bdTaxi" connectionString="server=10.100.136.40;database=BD_KMMP_TAXI07082018;User=user_GYS;pwd=user_GYS" providerName="System.Data.SqlClient" />-->
    <add name="bdTaxi" connectionString="server=KMMP-QAS-BD-01\QASBD01ES;database=BD_KMMP_TAXI;User=user_GYS;pwd=user_GYS" providerName="System.Data.SqlClient" />
    <!--<add name="bdTaxi" connectionString="server=KMMP-PRD-BD-01\PRDBD01ES;database=BD_KMMP_TAXI;User=user_GYS;pwd=user_GYS" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
     <add key="flagToken" value="1" />
    
    <!--Datos para el correo-->
    <add key="nombreEmisor" value="KMMP - Servicio de Taxis" />
    <add key="nombreEmisorGV" value="KMMP - Solicitud de Gastos" />
    <add key="correoEmisor" value="app-test@kmmp.com.pe" />
    <add key="contraseniaEmisor" value="123456Aa$" />
    <add key="host" value="smtp.gmail.com" />
    <add key="urlImg" value="~/Content//img//captura.jpg" />
    <add key="AUTHORITY_STS" value="https://localhost:44358" />
    <add key="CLIENT_ID_STS" value="W3B_4P1_S3RV1C3$" />
    <add key="CLIENT_PWD_STS" value="$KMMP$.W3BAP1s3rV1c3!" />

    <add key="mensajeAprobacion" value="El servicio con código {0} fue aprobado satisfactoriamente." />

    <!-- Parametros de conexion con el RFC -->
    <!--<add key="CLIENT" value="400" />
    <add key="SAP-RFC-USER" value="INTERFACEOCS" />
    <add key="SAP-RFC-PASSWORD" value="$UseRS3rvice0" />
    <add key="APPSERVERHOST" value="10.80.1.6" />
    <add key="LANGUAGE" value="ES" />
    <add key="SYSTEMNUMBER" value="02" />-->
    <!---->

    <!-- Parametros de conexion con el usuario RFC GASTOS -->
    <add key="CLIENT" value="400" />
    <add key="SAP-RFC-USER" value="INTERFACESDG" />
    <add key="SAP-RFC-PASSWORD" value="$UseRS3rvice1#" />
    <add key="APPSERVERHOST" value="10.80.1.6" />
    <add key="LANGUAGE" value="ES" />
    <add key="SYSTEMNUMBER" value="02" />
    
    <!--INTERFACEOCS-->
    <!--jpreciadoint-->
    <!--jdelacruzr-->
    <!--INTERFACE_TA-->
    <!--<add key="SAP-RFC-PASSWORD" value="Renovand0#" />-->
    <!--123456Aa$-->
    <!--Komatsu$1-->
    <!--Lenovo2017@-->
    <!--Kmmp2018@-->
   
    <!---->

    <!-- SAP - RFC FUNCIONES --> 
    <add key="RFC_ORDENES" value="ZCS_ORDEN_SERVICIO" />
    <add key="RFC_LIQUIDACION" value="ZFI_LIQUIDA_TAXIS" />
    <!--  *****************  -->
    
    <!-- SAP - RFC FUNCIONES GASTOS-->
    <add key="RFC_DATA_MAESTRA" value="ZFITG_GV_DATA_MAESTRA" />
    <add key="ZFITG_GV_ANTICIPO" value="ZFITG_GV_ANTICIPO" />
    <add key="ZFITG_GV_PROVEEDOR" value="ZFITG_GV_PROVEEDOR" />
    <add key="ZFITG_GV_LIQUIDACION" value="ZFITG_GV_LIQUIDACION" />

    <add key="ZFITG_GV_TARJETA" value="ZFITG_GV_TARJETA" />
    <add key="ZFITG_GV_CAJAS" value="ZFITG_GV_CAJAS" />
    <add key="ZFITG_GV_PAGOS_ANTICIPOS" value="ZFITG_GV_PAGOS_ANTICIPOS" />
    <add key="ZFITG_GV_TCAMBIO" value="ZFITG_GV_TCAMBIO" />
    

    <!--  *****************  -->
    

    <add key="asunto" value="KMMP-SOLICITUD DE TAXIS" />
    <add key="asunto_GV" value="KMMP-SOLICITUD DE ANTICIPO - GV" />
    <add key="mensajeRegistro" value="El servicio con código {0} fue registrado satisfactoriamente y necesita su aprobación ingresando a la aplicación." />
    <add key="mensajeAprobacion" value="El servicio con código {0} fue aprobado satisfactoriamente." />
    <add key="mensajeRechazo" value="El servicio con código {0} fue rechazado satisfactoriamente." />
    <add key="mensajeCancelacion" value="El servicio con código {0} fue cancelado satisfactoriamente." />
    <add key="mensajeCancelacionCosto" value="El servicio con código {0} fue cancelado satisfactoriamente pero se le cobró un gasto adicional debido a que el servicio ya había iniciado." />
    <add key="mensajeFinalizado" value="El servicio {0} finalizó satisfactoriamente." />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>